body {
	height: 100%;
	width: 100%;
	margin: auto;
}

#main-content {
	height: 330px;
	background-color: white;
}

#sections {
	width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.icon {
	height: 260px;
    width: 33.33%;
    margin-right: -4px;
    padding: 0px;
    display: inline-block;
    margin-bottom: -4px;
    text-align: center;
    padding-top: 80px;

}

.icon img {
	height: 110px;
	width: 130px;
}